html {
    scroll-behavior: smooth;
}
.carousel {
    display: flex;
}
.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100vw;
}

.hv-60 {
    height: 65vh;
}

.bg-black-transparent { 
    background-color: rgba(0, 0, 0, .2);
}
.bg-white-transparent {
    background-color: rgba(0, 0, 0, 0.801);
}

.bg-blue-transparent {
    background-color: rgba(0, 76, 216, 0.404);
}

.bg-black-transparent-nav { 
    background-color: rgba(0, 0, 0, .3);
}

.bg-black-transparent-nav-1 { 
    background-color: rgb(0, 0, 0);
}

.bg-orange{
    background-color: #ffb966;
}
.text-orange {
    color: #ffb966;
}
.ring-orange {
    --tw-ring-opacity: 1;
    --tw-ring-color: #ffb966;
}

.gradient { 
    --tw-gradient-from: #0072b8b4;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(78, 70, 229, 0.342));
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-image-1{
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-orange-transparent { 
    background-color: #d9770654;
}

.bg-actu-transparent {
    background-color: rgba(0,0,0,.5);
}

.text-article {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 200px;      /* fallback */
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-actu {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 100px;      /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}